* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 1.5;
  margin: 10% auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 0.63rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0.625rem 1.25rem 0.625rem 0;
  text-decoration: none;
}

a:hover {
  color: #19BBC1;
}

hr {
  border: dotted #d1ebeb 6px;
  border-bottom: none;
  width: 4%;
  margin: 6.25rem auto;
}

ul {
  list-style-type: none;
  position: absolute;
  right: 2.75rem;
  top: 2.5rem;
  overflow: hidden;
}

li {
  float: right;
}

.go-top-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  padding: .25em;
  width: 80px;
  height: 80px;
  border: 0;
  background: 0;
}

.go-top-btn img {
  width: 50px;
  height: 50px;
}

.br {
  margin-bottom: 10em
}

/* top container */
.top-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 20%;
}

.bottom-cloud {
  z-index: 0;
  position: absolute;
  right: 10%;
  bottom: 20%;
  width: 20%;
}

.top-mountain {
  width: 50%;
}

/* navigation menu */
.nav {
  top: 0;
  width: 100%;
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.burger {
  /*adjust the position of the burger t top righ*/
  position: absolute;
  right: 2.75rem;
  top: 2.5rem;
  /*hide burger when on desctop screen*/
  display: none;
}

.burger div {
  z-index: 1;
  /*width of burger lines*/
  width: 25px;
  /*thickness of the burger lines*/
  height: 3px;
  /*color of burger lines*/
  background-color: #66BFBF;
  /* margen for burger*/
  margin: 5px;
  transition: all 0.3s ease;
}

/* middle container */
.middle-container {
  margin: 6.25rem 0;
}

.profile-pic {
  width: 15rem;
  padding-bottom: 50px;
}

.intro {
  width: 50%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.project-discription {
  width: 70%;
  margin: 40px auto 5px auto;
  text-align: center;
}

.skills-img {
  width: 10rem;
  float: right;
  margin-right: 1.88rem;
}

.certificate {
  width: 30%;
  float: right;

}

.inline-hyperlink {
  margin: 0;
}

.contact-message {
  width: 40%;
  margin: 2.5rem auto 3.75rem;
}

.screenshot {
  width: 50%;
  margin: 20px auto 0;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  background-color: #19BBC1;
  border-collapse: separate
}

/* bottom container */
.bottom-container {
  background-color: #e3fdfd;
  padding: 3.13rem 0 1.25rem;
  font-size: 0.75rem;
}

.copyright {
  color: #19BBC1;
  padding: 1.25rem 0;
}

.footer-reference {
  margin: 0;
  padding: 1.25rem 0 0;
}

.social-media-icon {
  width: 3rem;
}

/* Adventures Left column */
.leftcolumn {
  float: left;
  width: 85%;
}

/* Adventures Right column */
.rightcolumn {
  float: right;
  width: 15%;
  padding-left: 20px;
}

/* Adventures full column */
.fullcolumn {
  float:left;
  width: 100%;
}


/* mobile view port css */
@media screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  h1 {
    font-size: 4.625rem;
  }

  /* Top container */
  /* Navication menu */
  .top-container {
    background-color: #e3fdfd;
    position: relative;
    padding-top: 90px;
  }

  .nav-links {
    z-index: 6;
    right: 0;
    /*hight of menu when poped out*/
    height: 50vh;
    top: 12vh;
    background-color: #e3fdfd;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*% of screen covered by menu when extended out*/
    width: 50%;
    transform: translateX(100%);
    /*motion and speed of menu poping out*/
    transition: transform 0.3s ease-in-out;
  }

  .bottom-cloud {
    position: absolute;
    bottom: 4rem;
  }

  /* middle container */
  .intro {
    width: 90%;
  }

  .skill-row {
    width: 90%;
    margin: 40px auto 40px auto;
  }

  .project-discription {
    margin: 20px auto;
    width: 90%;
  }

  .contact-message {
    width: 90%;
  }

  .skills-img {
    width: 6rem;
  }

  .screenshot {
    width: 100%;
    margin: 20px auto 0;
  }

  /* navigation menu */
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .go-top-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 2em 2em 0;
    padding: .18em;
    width: 40px;
    height: 50px;
    border: 0;
    background: 0;
  }

  .go-top-btn img {
    width: 50px;
    height: 50px;
  }

  /* Adventures Left column */
  .leftcolumn {
    float: left;
    width: 100%;
  }

  /* Adventures Right column */
  .rightcolumn {
    display: none;
  }
}

/* navigation menu */
.nav-active {
  transform: translateX(0%);
}

/* nav current page color change indecating which page is currently in view */
.current {
  color: #40514E;
  font-weight: bolder;
}

/* burger menu */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* burger menu rotation to form X to exit menu */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* contact me button */
.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  font-size: 22px;
  font-weight: 100;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #66BFBF 1px;
  background: #74D7D7;
  color: #FFFFFF;
  background-image: -webkit-linear-gradient(top, #74D7D7, #e3fdfd);
  background-image: -moz-linear-gradient(top, #74D7D7, #e3fdfd);
  background-image: -ms-linear-gradient(top, #74D7D7, #e3fdfd);
  background-image: -o-linear-gradient(top, #74D7D7, #e3fdfd);
  background-image: -webkit-gradient(to bottom, #74D7D7, #e3fdfd);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
